@import "tailwindcss";
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 19s linear infinite;
}

/* Opcional: Pausar la animación al pasar el mouse */
.animate-marquee:hover {
  animation-play-state: paused;
}
